<meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
<html lang='en'>

  <head></head>
  <div
    id='__react-email-preview'
    style='display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0'
  >You updated the password for your BDB account<div
    > ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿</div>
  </div>

  <body
    style='background-color:#efeef1;font-family:HelveticaNeue,Helvetica,Arial,sans-serif'
  >
    <table
      align='center'
      role='presentation'
      cellSpacing='0'
      cellPadding='0'
      border='0'
      width='100%'
      style='max-width:37.5em;width:580px;margin:30px auto;background-color:#ffffff'
    >
      <tr style='width:100%'>
        <td>
          <table
            style='width:100%;display:flex'
            align='center'
            border='0'
            cellPadding='0'
            cellSpacing='0'
            role='presentation'
            width='100%'
          >
            <tbody>
              <tr>
                <td>
                  <table
                    width='100%'
                    align='center'
                    role='presentation'
                    cellSpacing='0'
                    cellPadding='0'
                    border='0'
                  >
                    <tbody style='width:100%'>
                      <tr style='width:100%'>
                        <td
                          style='border-bottom:1px solid rgb(238,238,238);width:249px'
                        ></td>
                        <td
                          style='border-bottom:1px solid rgb(145,71,255);width:102px'
                        ></td>
                        <td
                          style='border-bottom:1px solid rgb(238,238,238);width:249px'
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            style='padding:5px 50px 10px 60px'
            align='center'
            border='0'
            cellPadding='0'
            cellSpacing='0'
            role='presentation'
            width='100%'
          >
            <tbody>
              <tr>
                <td>
                  <p style='font-size:14px;line-height:1.5;margin:16px 0'>Hi
                    {{username}},</p>
                  <p style='font-size:14px;line-height:1.5;margin:16px 0'>You
                    just requested to reset your password this
                    {{time_date}}.</p>
                  <p style='font-size:14px;line-height:1.5;margin:16px 0'>To
                    continue the reset, please click this
                    <a
                      target='_blank'
                      style='color:#067df7;text-decoration:underline'
                      href='{{reset_url}}'
                    > link.</a></p>
                  <p style='font-size:14px;line-height:1.5;margin:16px 0'>If
                    this is not you, then feel free to ignore this message,
                    however, if the request keeps coming up without your action,
                    then please report this incident to the tech team so that we
                    can investigate this issue.</p>
                  <p
                    style='font-size:14px;line-height:1.5;margin:16px 0'
                  >Thanks,<br />BDB Dev Team</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
    <table
      style='width:580px;margin:0 auto'
      align='center'
      border='0'
      cellPadding='0'
      cellSpacing='0'
      role='presentation'
      width='100%'
    >
      <tbody>
        <tr>
          <td>
            <p
              style='font-size:14px;line-height:24px;margin:16px 0;text-align:center;color:#706a7b'
            >© 2022 BDB Team, All Rights Reserved
              <br /></p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>